h1, h3{
    font-size : 30px;
    text-align: center;
}

p{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 2px;
}

img{
    display: inline block;
}

/**
 * CSS Specifiity
 * 1. "!important"
 * 2. inline style
 * 3. css stle
 */
